body {
  font-family: "Myriad Pro","Myriad",sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #FDFDFD; }

a {
  color: #3A74C2;
  text-decoration: none; }

.wrapper {
  width: 625px;
  margin: 30px auto; }

/* Index intro box */
#intro {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px; }
  #intro .avatar {
    float: left;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 200px; }
    #intro .avatar a {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 200px;
      background-size: cover;
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px 1px rgba(0, 0, 0, 0.05); }
  #intro .text {
    line-height: 1.5;
    font-size: 137.5%; }

/* Home styles */
#home {
  margin-top: 30px; }

.listing {
  margin-bottom: 30px; }
  .listing h2 {
    font-size: 137.5%;
    margin: 0 0 30px 0;
    text-align: center; }
  .listing ul, .listing ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .listing a {
    font-size: 125%; }
  .listing time {
    width: 110px;
    display: inline-block; }

/* Article styles */
article.post {
  margin-bottom: 60px; }

article.post header {
  margin-bottom: 20px; }

article.post header h1 {
  color: black;
  margin-bottom: 10px; }

article.post header h1 a {
  text-decoration: none; }

article.post header span {
  display: block;
  padding-bottom: 5px; }

article.post section.content {
  margin-bottom: 20px; }

article.post section.content a {
  color: #0000ff; }

article.post section.content p, pre {
  margin: 20px 0; }

article.post section.content code {
  color: #222;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 2px; }

article.post section.content pre {
  color: #222;
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: auto; }

article.post section.content pre code {
  padding: 0 !important;
  border: none !important; }

article.post section.content p img {
  max-width: 100%;
  border: 1px solid black; }

article.post section.content ul {
  margin-left: 20px; }
