body {
  font-family: "Myriad Pro","Myriad",sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #FDFDFD; }

a {
  color: #3A74C2;
  text-decoration: none; }

.wrapper {
  width: 625px;
  margin: 30px auto; }

/* Index intro box */
#intro .avatar {
  float: left;
  margin-right: 30px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 200px; }
  #intro .avatar a {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-size: cover;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px 1px rgba(0, 0, 0, 0.05); }
#intro .text {
  line-height: 1.5;
  font-size: 22px; }
  #intro .text .ss-icon {
    font-size: 21px; }

#home {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 30px; }

.listing {
  margin-bottom: 30px; }
  .listing h2 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 30px 0;
    text-align: center; }
  .listing ul, .listing ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .listing a {
    font-size: 20px; }
  .listing time {
    width: 110px;
    display: inline-block; }
